@model List<ServiceModel>
@{
    ViewData["Title"] = "Edit Services Page";
}

<div class="ml-3">
    <section id="addService">
        <div class="row text-left pt-3 ml-1">
            <h3>Add new service</h3>
        </div>
        <div class="row ml-3">
            <a class="btn btn-primary btn-effect"
               asp-area="Management"
               asp-controller="ManageServicesPage"
               asp-action="AddServicePage"
               title="Add service">Add</a>
        </div>
    </section>

    <section id="editServices">
        <div class="row mt-3 ml-1">
            <h3>Edit services</h3>
        </div>

        <div id="accordion"
             class="myaccordion w-100 ml-1 mt-1 all-projects">
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <div class="card-service">
                        <form id="formChangeService"
                              asp-controller="ManageServicesPage"
                              asp-route-id="@item.Id"
                              method="post">
                                    <div class="card mt-1">
                                        <div class="d-flex">
                                            <div class="card-service-header p-0" id="heading-@item.Id">
                                                <h2 class="mb-0">
                                                    <button class="d-flex pr-4 align-items-center justify-content-between btn btn-link collapsed"
                                                            data-toggle="collapse"
                                                            data-target="#collapse-@item.Id"
                                                            aria-expanded="false"
                                                            aria-controls="collapse-@item.Id"
                                                            type="button">
                                                        <div class="heading d-flex align-items-center">
                                                            <h5 class="mb-0 ml-3 p-3">@item.ServiceName</h5>
                                                        </div>
                                                        <i class="fa" aria-hidden="true"></i>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div class="text-left btns-card-service">
                                                <button class="btn-manage btn-manage-edit"
                                                        asp-action="ChangeServicePage"
                                                        asp-route-id="@item.Id"
                                                        type="submit"
                                                        title="Edit service">
                                                    🖉
                                                </button>
                                                <button class="btn-manage btn-manage-delete mr-1"
                                                        asp-action="DeleteServiceById"
                                                        asp-route-id="@item.Id"
                                                        type="submit"
                                                        title="Delete service">
                                                    🗑
                                                </button>
                                            </div>
                                        </div>
                                        <div id="collapse-@item.Id"
                                             class="collapse"
                                             aria-labelledby="heading-@item.Id"
                                             data-parent="#accordion"
                                             style="">
                                            <div class="card-body p-4">
                                                <p>
                                                    @item.ServiceDescription
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                
                        </form>
                    </div>
                }
            }
        </div>
    </section>
</div>

