@model UserWithRolesModel
@{
    ViewData["Title"] = "User details";
}

<div class="container">
    <div class="">
        <div class="row d-block pt-3">
            <h1>@ViewData["Title"]</h1>
        </div>

        <div class="row d-block">
            <table class="w-auto">
                <thead>
                    <tr>
                        <th class="users-details-column-id">Id</th>
                        <th class="users-details-column-email">Email</th>
                        <th class="users-details-column-roles">Roles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="users-details-column-id">@Model.User.Id</td>
                        <td class="users-details-column-email">@Model.User.Email</td>
                        <td class="users-details-column-roles">
                            @if (Model.Roles.Any())
                            {
                                @foreach (var role in Model.Roles)
                                {
                                    <label>@role </label><br />
                                }
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @if (Model != null)
        {
            <div class="container row mt-3">
                <div style="width:auto">
                    <form asp-area="Management"
                          asp-controller="ManageUsers"
                          asp-action="AddRoleToUser"
                          method="post">
                        <div class="form-group">
                            <input asp-for="User.Id"
                                   type="hidden" />
                            <span asp-validation-for="Add"
                                  class="text-danger w-100 d-block"></span>
                            <label asp-for="Role"
                                   class="w-100"></label>
                            <select asp-for="Role"
                                    asp-items="@Model.RolesList"
                                    class="custom-select text-dark"
                                    aria-required="true"
                                    style="width:auto"
                                    title="Select role">
                                <option disabled selected>Select role</option>
                            </select>
                        </div>
                        <div>
                            <button asp-area="Management"
                                    asp-controller="ManageUsers"
                                    asp-action="AddRoleToUser"
                                    type="submit"
                                    class="btn btn-primary"
                                    title="Add role">
                                Add
                            </button>
                        </div>
                    </form>
                </div>

                <div class="ml-5 w-auto">
                    <form asp-area="Management"
                          asp-controller="ManageUsers"
                          asp-action="DeleteRoleUser"
                          method="post">
                        <div class="form-group">
                            <input asp-for="User.Id"
                                   type="hidden" />
                            <span asp-validation-for="Delete"
                                  class="text-danger w-100 d-block"></span>
                            <label asp-for="Role"
                                   class="w-100"></label>
                            <select asp-for="Role"
                                    asp-items="@Model.RolesList"
                                    class="custom-select text-dark"
                                    aria-required="true"
                                    style="width:auto"
                                    title="Select role">
                                <option disabled selected>Select role</option>
                            </select>
                        </div>
                        <div>
                            <button asp-area="Management"
                                    asp-controller="ManageUsers"
                                    asp-action="DeleteRoleUser"
                                    type="submit"
                                    class="btn btn-primary"
                                    title="Delete role">
                                Delete
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
    <div class="w-auto pt-4">
        <div class="">
            <a class="btn btn-primary me-2 ion-ios-arrow-back"
               asp-area="Management"
               asp-controller="ManageUsers"
               asp-action="AllUsers"
               role="button">&nbsp;Back</a>
        </div>
    </div>
</div>