@model SocialModel

@{
    ViewData["Title"] = "Add Social";

    IFormFile formFile = null;
}

<html>
<head>
    <script src="~/lib/jquery/admin/jquery-1.12.4.min.js"></script>
    <script src="~/js/change-label-image.js"></script>
</head>
<body>
</body>
</html>

<div class="ml-3">
    <div class="row">
        <div class="col">
            <section id="addSocial">
                <div class="row text-left pt-3 ml-1">
                    <h3>Add new social link</h3>
                </div>
                <div class="row mt-2 d-block">
                    <form id="addSocialModel"
                          asp-controller="ManageContactsPage"
                          asp-action="AddSocialToDB"
                          method="post"
                          enctype="multipart/form-data">
                        <div class="ml-3">
                            <div class="">
                                <label asp-for="@Model.SocialLink"
                                       class="label-project">Social Link (href)</label>
                                <span asp-validation-for="@Model.SocialLink"
                                      class="text-danger"></span>
                            </div>
                            <div class="">
                                <input asp-for="@Model.SocialLink"
                                       type="text"
                                       placeholder="Add value property href"
                                       class="form-control mr-1 input-project-header" />
                            </div>
                        </div>
                        <div class="mt-1 ml-3 d-block">
                            <div class="">
                                <label asp-for="@Model.SocialImage"
                                       class="mt-1 label-project">Social Image</label>
                                <span asp-validation-for="@Model.SocialImage"
                                      class="text-danger"></span>
                            </div>
                            <div class="mt-1">
                                <label id="choose-file-label"
                                       for="Image"
                                       class="btn-choose-file"
                                       title="Choose image">
                                    Choose image
                                </label>
                                <input id="Image"
                                       type="file"
                                       accept=".jpg, .jpeg, .png, .webp"
                                       placeholder="Choose image"
                                       class="select-image"
                                       name="image"
                                       value="@formFile"
                                       alt="Choose image" />
                                <label id="choose-file-text"
                                       class="label-not-choose-image">
                                    Image not choosed !
                                </label>
                            </div>
                        </div>
                        <div class="mt-3 ml-3">
                            <button class="btn btn-primary btn-effect justify-content-end mr-1"
                                    type="submit"
                                    title="Add social">
                                Add
                            </button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

