@model ContactsPlaceholderModel

@{
    string linkName = "";
    string changePhrase = "";
    string leftCentralAreaText = "";
    IFormFile formFile = null;
    byte[] image = null;
    string bottomAreaHeader = "";
    string bottomAreaContent = "";
    string LeftAreaText = ViewBag.InputLeftCentralAreaPhrase;
    string BottomHeader = ViewBag.InputBottomHeaderError;
    string BottomText = ViewBag.InputBottomTextError;

}

<html>
<head>
    <script src="~/lib/jquery/admin/jquery-1.12.4.min.js"></script>
    <script src="~/js/change-label-image.js"></script>
</head>
<body>
</body>
</html>

<div class="container">
    <section id="header">
        <div class="row text-left pt-3 pl-3">
            <h2>Changeable fields on the contacts page</h2>
        </div>
    </section>

    <hr class="section-border" />

    <section id="contacts">
        <div class="text-left mt-3">
            <h3>Contact data</h3>
        </div>
        <div class="mr-1 p-0">
            <form id="formContact"
                  method="post">
                <label asp-for="@Model.Contacts.ContactAddress"></label>
                <span asp-validation-for="@Model.Contacts.ContactAddress"
                      class="text-danger"></span>
                <input asp-for="@Model.Contacts.ContactAddress"
                       type="text" class="form-control"
                       value="@Model.Contacts.ContactAddress">

                <label asp-for="@Model.Contacts.ContactPhone"></label>
                <span asp-validation-for="@Model.Contacts.ContactPhone"
                      class="text-danger"></span>
                <input asp-for="@Model.Contacts.ContactPhone"
                       type="text" class="form-control"
                       value="@Model.Contacts.ContactPhone">

                <label asp-for="@Model.Contacts.ContactEmail"></label>
                <span asp-validation-for="@Model.Contacts.ContactEmail"
                      class="text-danger"></span>
                <input asp-for="@Model.Contacts.ContactEmail"
                       type="text" class="form-control"
                       value="@Model.Contacts.ContactEmail">

                <button id="bcontact"
                        asp-controller="ManageContactsPage"
                        asp-action="ChangeContacts"
                        class="btn btn-primary btn-effect"
                        type="submit"
                        title="Edit contacts">
                    🖉
                </button>
            </form>
        </div>
    </section>

    <hr class="section-border" />

    <section id="addSocial">
        <div class="row text-left pt-3 ml-1">
            <h3>Add new social link</h3>
        </div>
        <div class="row ml-3">
            <a class="btn btn-primary btn-effect"
               asp-area="Management"
               asp-controller="ManageContactsPage"
               asp-action="AddSocialPage"
               title="Add social">Add</a>
        </div>
    </section>

    <section id="social">
        <div class="text-left mt-3">
            <h3>Social links</h3>
        </div>
        <div class="row mt-2">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">HREF</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.SocialLinks.Any())
                    {
                        @foreach (var item in Model.SocialLinks)
                        {
                            <tr class="border-bottom">
                                <td class="table-light">
                                    @if (item.SocialImage != null)
                                    {
                                        <img class="img-social-link"
                                             src="data:image;base64,@(Convert.ToBase64String(item.SocialImage))">
                                    }
                                </td>
                                <td class="table-light">
                                    @item.SocialLink
                                </td>
                                <td>
                                    <button class="btn-manage btn-manage-edit"
                                            asp-controller="ManageContactsPage"
                                            asp-action="ChangeSocialPage"
                                            asp-route-id="@item.Id"
                                            type="submit"
                                            title="Edit social">
                                        🖉
                                    </button>
                                </td>
                                <td>
                                    <button class="btn-manage btn-manage-delete"
                                            asp-controller="ManageContactsPage"
                                            asp-action="DeleteSocialById"
                                            asp-route-id="@item.Id"
                                            type="submit"
                                            title="Delete link">
                                        🗑
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>
