@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
}
<h1>@ViewData["Title"]</h1>
<p>
    <a asp-area="Management"
       asp-controller="ManageRoles"
       asp-action="AddRole"
       class="btn btn-primary"
       title="Add role">Add role</a>
</p>
<table class="w-auto">
    <thead>
        <tr>
            <th class="roles-column-id">@Html.DisplayNameFor(model => model.Id)</th>
            <th class="roles-column-name">@Html.DisplayNameFor(model => model.Name)</th>
            <th class="roles-column-name">@Html.DisplayNameFor(model => model.NormalizedName)</th>
            <th class="roles-column-delete"><i>Delete</i></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="roles-column-id">@Html.DisplayFor(modelitem => item.Id)</td>
                <td class="roles-column-name">@Html.DisplayFor(modelitem => item.Name)</td>
                <td class="roles-column-name">@Html.DisplayFor(modelitem => item.NormalizedName)</td>
                <td class="roles-column-delete">
                    <a asp-area="Management"
                       asp-controller="ManageRoles"
                       asp-action="DeleteRole"
                       asp-route-id="@item.Id"
                       class="btn btn-primary"
                       title="Delete role">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
