@model OrdersModel
@using System.Globalization;

@{
    var dateTodayStart = DateTime.Now.Date.ToString("G", CultureInfo.GetCultureInfo("ru-RU"));
    var dateTodayNow = DateTime.Now.ToString("G", CultureInfo.GetCultureInfo("ru-RU"));

    var dateYesterdayStart = DateTime.Now.Date.AddDays(-1).AddTicks(-1).ToString("G", CultureInfo.GetCultureInfo("ru-RU"));
    var dateYesterdayEnd = DateTime.Now.Date.AddTicks(-1).ToString("G", CultureInfo.GetCultureInfo("ru-RU"));

    var dateWeekEarlier = DateTime.Now.Date.AddDays(-7).ToString("G", CultureInfo.GetCultureInfo("ru-RU"));

    var dateMonthEarlier = DateTime.Now.Date.AddMonths(-1).ToString("G", CultureInfo.GetCultureInfo("ru-RU"));
}

<html>
<head>
    <link href="~/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <script src="~/lib/jquery/admin/jquery-1.12.4.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/moment-with-locales.min.js"></script>

</head>
<body>
</body>
</html>

<div class="container">
    <div class="row resp-table mt-3">
        <div class="table-row-header">
            <div class="resp-table-row">
                <div class="table-cell-data">
                    <form id="formOrder"
                          asp-controller="ManageView"
                          asp-action="OrdersByPeriod"
                          asp-route-datefrom="@dateTodayStart"
                          asp-route-dateto="@dateTodayNow"
                          asp-route-periodname="Today"
                          method="post">
                        <button class="table-cell-button"
                                type="submit">
                            Today
                        </button>
                    </form>
                </div>
                <div class="table-cell-data">
                    <form id="formOrder"
                          asp-controller="ManageView"
                          asp-action="OrdersByPeriod"
                          asp-route-datefrom="@dateYesterdayStart"
                          asp-route-dateto="@dateYesterdayEnd"
                          asp-route-periodname="Yesterday"
                          method="post">
                        <button class="table-cell-button"
                                type="submit">
                            Yesterday
                        </button>
                    </form>
                </div>
                <div class="table-cell-data">
                    <form id="formOrder"
                          asp-controller="ManageView"
                          asp-action="OrdersByPeriod"
                          asp-route-datefrom="@dateWeekEarlier"
                          asp-route-dateto="@dateTodayNow"
                          asp-route-periodname="Week"
                          method="post">
                        <button class="table-cell-button"
                                type="submit">
                            Week
                        </button>
                    </form>
                </div>
                <div class="table-cell-data">
                    <form id="formOrder"
                          asp-controller="ManageView"
                          asp-action="OrdersByPeriod"
                          asp-route-datefrom="@dateMonthEarlier"
                          asp-route-dateto="@dateTodayNow"
                          asp-route-periodname="Month"
                          method="post">
                        <button class="table-cell-button"
                                type="submit">
                            Month
                        </button>
                    </form>
                </div>
                <div class="table-cell-data-last">
                    <form id="formOrder"
                          asp-controller="ManageView"
                          asp-action="OrdersByPeriod"
                          asp-route-datefrom="@Model.DateFrom"
                          asp-route-dateto="@Model.DateTo"
                          asp-route-periodname="Period"
                          method="post">
                            <div class="d-flex align-items-center">
                                <div class="d-inline-block">
                                    <button id="periodsubmit"
                                            class="table-cell-button-last"
                                            type="submit">
                                        Date from
                                    </button>
                                </div>
                                <div class="d-inline-block container-button">
                                    <div id="datefrom" class="d-inline input-daterange input-group-data">
                                        <input id="datefrom" asp-for="DateFrom" type="text" class="input-data-field input-sm d-inline-flex" />
                                    </div>
                                    <div class="d-inline input-daterange input-group-data align-content-center">
                                        <span class="input-data-span-to">to</span>
                                    </div>
                                    <div id="dateto" class="d-inline input-daterange input-group-data">
                                        <input id="dateto" asp-for="DateTo" type="text" class="input-data-field input-sm d-inline-flex" />
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function checkParams() {
        var dateFrom = $('#datefrom').val();
        var dateTo = $('#dateto').val();

        if (dateFrom.length != 0 && dateTo.length != 0) {
            $('#periodsubmit').removeProp('disabled');
        } else {
            $('#periodsubmit').attr('disabled', true);
        }
    }
</script>
<script type="text/javascript">

    $('#datefrom').datepicker({
        format: "dd.mm.yyyy",
        weekStart: 1,
        clearBtn: true,
        language: "en-US",
        autoclose: true,
        forceParse: true,
        todayHighlight: true
    });
    $('#datefrom').datepicker('show');

    $('#dateto').datepicker({
        format: 'dd.mm.yyyy',
        weekStart: 1,
        clearBtn: true,
        language: 'en-US',
        autoclose: true,
        forceParse: true,
        todayHighlight: true
    });
    $('#dateto').datepicker('show');

</script>
